[submodule "vampire"]
	path = vampire
	url = https://github.com/vprover/vampire.git
[submodule "timbuk"]
	path = timbuk
	url = https://gitlab.inria.fr/regular-pv/timbuk/timbuk.git
[submodule "souffle"]
	path = souffle
	url = https://github.com/souffle-lang/souffle.git
[submodule "pyvampire"]
	path = pyvampire
	url = git@github.com:philzook58/pyvampire.git
[submodule "pyeprover"]
	path = pyeprover
	url = https://github.com/philzook58/pyeprover.git
[submodule "KoAT2-Releases"]
	path = KoAT2-Releases
	url = https://github.com/aprove-developers/KoAT2-Releases.git
[submodule "caqe"]
	path = caqe
	url = https://github.com/ltentrup/caqe.git
[submodule "eprover"]
	path = eprover
	url = https://github.com/eprover/eprover.git
[submodule "cop-rs"]
	path = cop-rs
	url = https://github.com/01mf02/cop-rs.git
[submodule "libvata"]
	path = libvata
	url = https://github.com/ondrik/libvata.git
[submodule "Leo-III"]
	path = Leo-III
	url = https://github.com/leoprover/Leo-III.git
[submodule "cbmc"]
	path = cbmc
	url = https://github.com/diffblue/cbmc.git
[submodule "cadical"]
	path = cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "bitwuzla"]
	path = bitwuzla
	url = https://github.com/bitwuzla/bitwuzla.git
[submodule "boolector"]
	path = boolector
	url = https://github.com/Boolector/boolector.git
[submodule "connections"]
	path = connections
	url = https://github.com/fredrrom/connections.git
[submodule "esbmc"]
	path = esbmc
	url = https://github.com/esbmc/esbmc.git
[submodule "Prover9"]
	path = Prover9
	url = https://github.com/ai4reason/Prover9.git
[submodule "daisy"]
	path = daisy
	url = https://github.com/malyzajko/daisy.git
[submodule "FPTaylor"]
	path = FPTaylor
	url = https://github.com/soarlab/FPTaylor.git
[submodule "gappa"]
	path = gappa
	url = https://gitlab.inria.fr/gappa/gappa.git
[submodule "archsat"]
	path = archsat
	url = https://github.com/Gbury/archsat.git
[submodule "ocaml-alg"]
	path = ocaml-alg
	url = https://github.com/smimram/ocaml-alg.git
[submodule "prologsolvers"]
	path = prologsolvers
	url = git@github.com:philzook58/prologsolvers.git
[submodule "chrpp"]
	path = chrpp
	url = https://gitlab.com/vynce/chrpp.git
[submodule "metis"]
	path = metis
	url = https://github.com/gilith/metis.git
[submodule "kbmag"]
	path = kbmag
	url = https://github.com/gap-packages/kbmag
[submodule "Spin"]
	path = Spin
	url = https://github.com/nimble-code/Spin.git
[submodule "htd"]
	path = htd
	url = https://github.com/mabseher/htd.git
[submodule "kissat"]
	path = kissat
	url = https://github.com/arminbiere/kissat.git
[submodule "msolve"]
	path = msolve
	url = https://github.com/algebraic-solving/msolve
[submodule "gclc"]
	path = gclc
	url = https://github.com/janicicpredrag/gclc.git
[submodule "rIC3"]
	path = rIC3
	url = https://github.com/gipsyh/rIC3.git
[submodule "mkbtt"]
	path = mkbtt
	url = https://github.com/bytekid/mkbtt.git
[submodule "smttotptp"]
	path = smttotptp
	url = https://bitbucket.org/peba123/smttotptp.git
